*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: #1b1b1b;
    color: white;
    display: grid;
    place-content:  center;
    font-family: sans-serif;
    margin: 20px;
}
main{
 background-color: #685353;
 padding: 50px;
 border-radius: 10px;
}
h1 {
    margin-bottom: 50px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
li{
    margin-bottom: 10px;
    text-align: left;
}
a:hover{
    color:#1b1b1b;
}